.checkbox {
    display: flex;
    align-items: center;
  }
  
  .checkbox label {
    cursor: pointer;
  }
  
  /* 실제 input 을 숨기기 위한 코드 */
  .checkbox input {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
  }
  
  .checkbox span {
    font-size: 1.125rem;
    font-weight: bold;
  }
  
  .icon {
    display: flex;
    align-items: center;
    /* 아이콘의 크기는 폰트 사이즈로 조정 가능 */
    font-size: 2rem;
    margin-right: 0.25rem;
    color: #adb5bd;
  }
  
  .checked {
    color: #339af0;
  }